html
	head
		title #{user.name}
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css')
	body
		script(src="../script.js")
		form(action="/users/" + user["_id"], method="POST")
			div(class="position-absolute top-0 start-50" style="margin-top: 200px")
				<h3 class="h3 mb-3 fw-normal">#{user.name}</h1>
				|ID:
				input#id(type="textbox" name="id" disabled value=user["_id"])
				br
				|Name:
				input(type="textbox" name="name" required value=user.username)
				br
				|Email:
				input(type="textbox" name="email" required value=user.email)
				br
				div(class="row g-2" style={padding: '10px'})
					button(type="submit" class="btn btn-primary" style={width: '45%', 'margin-right': '5px'} ) Save Changes
					button(type="button" class="btn btn-danger" style={width: '50%'} onclick="deleteUser()") Delete User